vocab:
  type: Vocab
  path:
    train: datasets/Wikilingual-dataset/train.json
    dev: datasets/Wikilingual-dataset/dev.json
    test: datasets/Wikilingual-dataset/test.json
  min_freq: 3
  bos_token: <bos>
  eos_token: <eos>
  unk_token: <unk>
  pad_token: <pad>

dataset:
  train: 
    type: TextSumDataset
    path: datasets/Wikilingual-dataset/train.json
  dev:
    type: TextSumDataset
    path: datasets/Wikilingual-dataset/dev.json
  test: 
    type: TextSumDataset
    path: datasets/Wikilingual-dataset/test.json
  batch_size: 16
  num_workers: 4
  max_src_len: 400
  max_tgt_len: 120

model:
  name: BiSum_Wikilingual
  architecture: BiSumModel
  device: cuda
  d_model: 512
  emb_dim: 256
  lambda_mix: 0.7
  max_len: 512

training:
  learning_rate: 0.15
  warmup: 4000
  patience: 5
  score: rouge-L
  checkpoint_path: checkpoints
  epochs: 20

task: TextSumTask