
vocab:
  type: Vocab
  path:
    train: datasets/UIT-ViNewsOnSum-dataset/train.json
    dev: datasets/UIT-ViNewsOnSum-dataset/dev.json
    test: datasets/UIT-ViNewsOnSum-dataset/test.json
  min_freq: 3
  bos_token: <bos>
  eos_token: <eos>
  unk_token: <unk>
  pad_token: <pad>

dataset:
  test: 
    type: TextSumDataset
    path: C:\Users\DELL\ViPhoLM\ViPhoLM\datasets\UIT-ViNewsOnSum-dataset\test.json
  train:
    type: TextSumDataset
    path: C:\Users\DELL\ViPhoLM\ViPhoLM\datasets\UIT-ViNewsOnSum-dataset\train.json
  val:
    type: TextSumDataset
    path: C:\Users\DELL\ViPhoLM\ViPhoLM\datasets\UIT-ViNewsOnSum-dataset\val.json
  batch_size: 32
  num_workers: 8

model:
  name: HATModel_UIT-ViNewsOnSum
  architecture: HATModel
  segment_len: 128
  hidden_size: 256
  max_segments: 64
  nhead: 4
  num_layers: 4 
  encoder_layout:
    "0":
      sentence_encoder: true
      document_encoder: false
    "1":
      sentence_encoder: true
      document_encoder: true
    "2":
      sentence_encoder: true
      document_encoder: true
    "3":
      sentence_encoder: true
      document_encoder: true
  device: cuda

training:
  batch_size: 32
  learning_rate: 0.0001  # Giảm xuống 1e-4
  rl_weight: 0.5  # Trọng số cho RL loss
  checkpoint_path: "checkpoints"
  warmup: 1000
  patience: 5
  score: rouge-L

task: TextSumTask