
vocab:
  type: Vocab
  path:
    train: datasets/Wikilingual-dataset/train.json
    dev: datasets/Wikilingual-dataset/dev.json
    test: datasets/Wikilingual-dataset/test.json
  min_freq: 3
  bos_token: <bos>
  eos_token: <eos>
  unk_token: <unk>
  pad_token: <pad>

dataset:
  train: 
    type: TextSumDataset
    path: datasets/Wikilingual-dataset/train.json
  dev:
    type: TextSumDataset
    path: datasets/Wikilingual-dataset/dev.json
  test: 
    type: TextSumDataset
    path: datasets/Wikilingual-dataset/test.json
  batch_size: 32
  num_workers: 8

model:
  name: HEPOSSummarizer_Wikilingual
  architecture: HEPOSSummarizer
  d_model: 512
  num_heads: 8
  stride_list: [1, 2, 4, 8, 16, 32, 64, 128]
  num_layers: 6
  dropout: 0.1
  max_tgt_len: 100
  teacher_forcing: True
  padding_idx: 0
  pos_encoding: sinusoidal   # hoáº·c learned
  label_smoothing: 0.1
  device: cuda


training:
  checkpoint_path: "checkpoints"
  warmup: 1000
  patience: 5
  score: rouge-L
  batch_size: 32
  lr: 1e-4
  epochs: 20

task: TextSumTask