vocab:
  type: Vocab
  path:
    train: datasets/Wikilingual-dataset/train.json
    dev: datasets/Wikilingual-dataset/dev.json
    test: datasets/Wikilingual-dataset/test.json
  min_freq: 3
  bos_token: <bos>
  eos_token: <eos>
  unk_token: <unk>
  pad_token: <pad>

dataset:
  train: 
    type: TextSumDataset
    path: datasets/Wikilingual-dataset/train.json
  dev:
    type: TextSumDataset
    path: datasets/Wikilingual-dataset/dev.json
  test: 
    type: TextSumDataset
    path: datasets/Wikilingual-dataset/test.json
  batch_size: 16
  num_workers: 4

model:
  name: Hepos_Wikilingual
  architecture: HeposLongformerSummarizer
  d_model: 512
  ffn_hidden: 2048
  n_head: 8
  drop_prob: 0.1
  max_len: 2048

  encoder:
    n_layers: 6
    window_size: 512

  decoder:
    n_layers: 6
    hepos_stride: 8

  device: cuda

training:
  checkpoint_path: "checkpoints"
  warmup: 4000
  patience: 5
  score: rouge-L
  learning_rate: 0.15
  epochs: 20

task: TextSumTask